.carousel {
  .imageContainer {
    display: flex;
    position: relative;
    width: 100vw;
    height: 700px;
    padding: 30px;
    overflow: hidden;

    .left {
      position: absolute;
      top: 30vh;
      left: 10px;
    }

    .right {
      position: absolute;
      top: 30vh;
      right: 70px;
    }

    .carouselBtn {
      z-index: 2;
      border: none;
      background-color: initial;
      font-size: 40px;
      font-weight: 500;
      cursor: pointer;
    }

    .imageBox {
      display: flex;
      width: 500vw;
      transition: all 0.5s ease-in-out;

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;

        .contentImage {
          width: 600px;
        }
      }
    }
  }

  .dotContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    .dot {
      width: 10px;
      height: 10px;
      transition: all 0.5s ease-in-out;
      border: 1px solid gray;
      border-radius: 100%;
      cursor: pointer;
    }

    .current {
      background-color: black;
    }
  }
}
