.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .imageContainer {
    display: flex;
    position: relative;
    width: 50vw;
    height: 500px;
    padding: 30px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 20px;

    .left {
      position: absolute;
      top: 23vh;
      left: 20px;
    }

    .right {
      position: absolute;
      top: 23vh;
      right: 20px;
    }

    .carouselBtn {
      z-index: 2;
      border: none;
      background-color: initial;
      font-size: 40px;
      font-weight: 500;
      cursor: pointer;
    }

    .imageBox {
      display: flex;
      width: 250vw;
      transition: all 0.5s ease-in-out;

      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;

        .contentImage {
          width: 500px;
        }
      }
    }
  }

  .dotContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;

    .dot {
      width: 10px;
      height: 10px;
      transition: all 0.5s ease-in-out;
      border: 1px solid gray;
      border-radius: 100%;
      cursor: pointer;
    }

    .current {
      background-color: black;
    }
  }
}
