.userForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .userContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;

    .title {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }

    .userInput {
      width: 200px;
      padding: 5px 10px;
      border: 1px solid lightgray;
      border-radius: 10px;
    }

    .checkValid {
      margin-bottom: 0;
      color: lightskyblue;
      font-size: 13px;
      text-align: center;
    }

    .formButton {
      margin-top: 20px;
      padding: 5px 10px;
      border: 1px solid lightgray;
      border-radius: 10px;
      background-color: white;

      .disabled {
        color: gray;
      }
    }

    .linkTranslationBtn {
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
    }
  }
}
