.modal {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  .modalBox {
    width: 400px;
    height: 500px;
    border: none;
    border-radius: 20px;
    background-color: white;
  }
}
