.nav {
  position: fixed;
  top: 0;

  width: 100vw;
  padding: 30px;
  border-bottom: 1px solid lightgray;
  background-color: white;

  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 30px;
      font-weight: 900;
      cursor: pointer;
    }

    .search {
      position: relative;
      width: 400px;

      .searchInput {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        outline: none;
      }

      .searchBox {
        display: flex;
        position: absolute;
        z-index: 5;
        flex-direction: column;
        width: 100%;
        max-height: 150px;
        margin-top: 20px;
        padding: 20px;
        overflow: scroll;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: white;
        gap: 10px;

        .result {
          cursor: pointer;
        }
      }
    }

    .loginBtn {
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: blueviolet;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .menuTab {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .productsLink {
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
